
<nav aria-label="breadcrumb" >
    <ol class="breadcrumb mt-3">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      </ol>
  </nav>

  <script>
    const breadcrumbContainer = document.querySelector('.breadcrumb');

function updateBreadcrumbs(path) {
breadcrumbContainer.innerHTML = '';

const homeLink = document.createElement('li');
homeLink.classList.add('breadcrumb-item');
homeLink.innerHTML = '<a href="/">Home</a>';
breadcrumbContainer.appendChild(homeLink);

const pathSegments = path.split('/');

for (let i = 1; i < pathSegments.length; i++) {
const segment = pathSegments[i];
const breadcrumbItem = document.createElement('li');
breadcrumbItem.classList.add('breadcrumb-item');

if (i === pathSegments.length - 1) {
  breadcrumbItem.textContent = segment;
} else {
  const categoryUrl = `/${pathSegments.slice(1, i + 1).join('/')}`;
  breadcrumbItem.innerHTML = `<a href="${categoryUrl}">${segment}</a>`;
}

breadcrumbContainer.appendChild(breadcrumbItem);
}
}

updateBreadcrumbs(window.location.pathname);
</script>