

<nav class="navbar navbar-expand-md bg-body-light border-bottom border-dark sticky-top">
    <div class="container-fluid bg-white">
      <a class="navbar-brand" href="/"><img src="/images/sproutly-logo.png" width="50px" height="50px" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link nav-link-text" href="/">Home</a>
          <a class="nav-link nav-link-text" href="/items">All Seeds</a>
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" method="get" action="/search" id="searchForm">
            <input id="searchInput" class="form-control me-2 search-inp border border-success-subtle" type="search" placeholder="Search Seeds" name="q">
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link nav-link-text" href="/items/new">Be a Seller</a>
          <% if(!currUser){ %>
            <a class="nav-link nav-link-text" href="/signup"><b>SignUp</b></a>
            <a class="nav-link nav-link-text" href="/login"><b>Login</b></a>
          <% } %>
          <% if(currUser){ %> 
            <a href="/cart" class="nav-link">
              <i class="fa-solid fa-cart-shopping fs-5"></i>
            </a>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-circle-user text-success fs-4"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <h5 class="dropdown-item"><%= currUser.username %></h5>
                <li><a class="dropdown-item nav-link-text" href="/cart">Your Cart</a></li>
                <li><a class="dropdown-item nav-link-text" href="/wishlist">Your wishlist</a></li>
                <li><a class="dropdown-item nav-link-text" href="/logout">Logout</a></li>
              </ul>
            </div>
            
          <% } %>
          
        </div>
      </div>
    </div>
  </nav>

 
  
  <script>

const searchForm = document.getElementById('searchForm');

searchForm.addEventListener('submit', (event) => {
  const query = document.getElementById('searchInput').value.trim();
  if (!query) {
    event.preventDefault(); 
    alert('Please enter a search term.');
  } 
});

window.addEventListener('load', () => {
  document.getElementById('searchInput').value = "";
})





  </script>