<% layout("/layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Add a new Item</h3>
            <form action="/items" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="item[title]" placeholder="Enter a Title" class="form-control " required>
                    <div class="invalid-feedback">Please Enter a Title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="item[description]" placeholder="Describe it" id="" cols="30" rows="4"
                        class="form-control " required></textarea>
                    <div class="invalid-feedback">Please enter the description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="item[image]" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="item[price]" placeholder="1200" class="form-control " required>
                        <div class="invalid-feedback">Please enter valid Price</div>
                    </div>
                    
                </div>
                
                <div class="mb-2">
                    <button class="btn btn-dark add-btn">Add</button>

                </div>

            </form>
        </div>
    </div>