<% layout("/layouts/boilerplate.ejs") %>

<h1>Forgot Password</h1>
<p>Enter your email address associated with your Sproutly account and we'll send you instructions to reset your password.</p>

<% if (locals.error) { %>  <div class="alert alert-danger" role="alert">
    <%= locals.error %>
  </div>
<% } %>

<form action="/forgot-password" method="post" class="needs-validation" novalidate>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" placeholder="Enter email" class="form-control" required id="email">
    <div class="invalid-feedback">Please Enter a Valid Email</div>
  </div>
  <button class="btn btn-success">Send Reset Instructions</button>
</form>