<% layout("/layouts/boilerplate.ejs") %>

<style>
  #togglePassword{
    top: 0.65rem;
    right: 2.2rem;
  }
</style>

<h1>Reset Password</h1>

<% if (locals.error) { %>  <div class="alert alert-danger" role="alert">
    <%= locals.error %>
  </div>
<% } %>

<form action="/reset-password/<%= token %>" method="post" class="needs-validation" novalidate>
  <div class="mb-3">
    <label for="new-password" class="form-label">New Password</label>
    <div class="position-relative">
      <input type="password" name="newPassword" placeholder="Enter new password" class="form-control" required id="new-password password">
      <div class="">
        <i id="togglePassword" class="fas fa-eye-slash position-absolute"></i>
      </div>
    </div>
    <div class="invalid-feedback">Please Enter a New Password</div>
  </div>
  <div class="mb-3">
    <label for="confirm-password" class="form-label">Confirm Password</label>
    <div class="position-relative">
      <input type="password" name="confirmPassword" placeholder="Confirm new password" class="form-control" required id="confirm-password password">
      <div class="">
        <i id="togglePassword" class="fas fa-eye-slash position-absolute"></i>
      </div>
    </div>
    <div class="invalid-feedback">Please Confirm Your New Password</div>
  </div>
  <button class="btn btn-success">Reset Password</button>
</form>


<script>
   

  document.getElementById('togglePassword').addEventListener('click', function () {
      const passwordField = document.getElementById('password');
      const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordField.setAttribute('type', type);
      
  
      this.classList.toggle('fa-eye-slash');
      this.classList.toggle('fa-eye');
  });
  
  </script>